{% extends 'base.html' %}
{% block title %}Supprimer le Parking{% endblock %}
{% block title_header %}Confirmation de Suppression{% endblock title_header %}

{% block content %}
    <div class="alert alert-danger shadow-sm">
        <h4>Êtes-vous sûr de vouloir supprimer le parking **{{ stand.nom_operationnel }}** ?</h4>
        <p>Cette action est irréversible et supprimera également toutes les allocations et incidents liés.</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger me-2"><i class="fas fa-trash"></i> Confirmer la Suppression</button>
            <a href="{% url 'stand_detail' stand.pk %}" class="btn btn-secondary">Annuler</a>
        </form>
    </div>
{% endblock content %}